*.RData
*.DS_Store
*.DS_store
*.Rapp.history
*.Rhistory

*.aux
*.log
*.out
*.synctex.gz

*.docx
*.key
*.ppt
*.pptx


equipmentlab/dendro/2023May_LauraEmail.pdf
methods/forestdemography/JannekeEmailJul2020.pdf
recruit/_seeAlsoRecruit.txt
datacodemgmt/wheredatacodelive/notposting/
